@{
    ViewBag.Title = "Home Page";
}


<!-- ***** Main Banner Area End ***** -->
<section class="services" id="services">
    <div class="container">
        <div class="row">
            <div style="cursor: pointer" class="col-lg-6">
                <a href="/Teacher/index">
                    <div class="service-item">
                        <i class="fas fa-archive"></i>
                        <h4>Students</h4>
                        <p>Click to see the Students.</p>
                    </div>
                </a>
            </div>
            <div style="cursor: pointer" class="col-lg-6">
                <a href="/Teacher/index">
                    <div class="service-item">
                        <i class="fas fa-cloud"></i>
                        <h4>Teachers</h4>
                        <p>Click to see all teachers</p>
                    </div>
                </a>
            </div>
            <div style="cursor: pointer" class="col-lg-6">
                <a href="/Subject/index">
                    <div class="service-item">
                        <i class="fas fa-charging-station"></i>
                        <h4>Subjects</h4>
                        <p>Click to see the Subjects</p>
                    </div>
                </a>
            </div>
            <div style="cursor: pointer" class="col-lg-6">
                <a href="/Course/index">
                    <div class="service-item">
                        <i class="fas fa-suitcase"></i>
                        <h4>Courses</h4>
                        <p>Click to see the Courses</p>
                    </div>
                </a>
            </div>
            
            <div style="cursor: pointer" ng-click="" class="col-lg-6">
                <a href="/Enrollment/index">
                    <div class="service-item">
                        <i class="fas fa-archway"></i>
                        <h4>Grades</h4>
                        <p>Click to see the Grades</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
